.navbar {
	margin-bottom: 0px !important;
}

.navbar-default{
	background-color: #ffffff !important;
	border-color: #000000 !important;
}
.mainpage {
	background-color: #f8f8f8;
}

.navbar-header {
	margin-left: 31% !important;
	margin-top: 2%;
	margin-bottom: 2%;
}

/*.navbar-header a{
	font-size: 14pt; 
}*/

.mainpage form {
	margin-top: 25%;
}

.mainpage .form-group {
	margin-top: 10%;
	margin-bottom : 10%;
}
.mainpage .form-group label{
	margin-left: 30%;
}

.mainpage button{
	margin-top: 5%;
	margin-left: 40%;
	margin-bottom: 23%;
}

.footer p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14pt;
	margin-top: 4.5%;
	margin-bottom: 4.5%;
	color: #777;
}